<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="KnowledgePath" value="..\..\Knowledge.json"/>
    <add key="__DataFile" value="..\..\FocusWatcher.csv"/>
    <add key="OutFile" value="..\..\Updated.csv"/>
    <add key="DataFile" value="C:\Users\Guillaume\Source\Repos\Automation\FocusWatcher\FocusWatcher\bin\FocusWatcher.csv"/>
  </appSettings>
</configuration>