<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="LogPath" value="C:\FocusWatcher.csv" />
    <add key="Sleep" value="0" />
    <!-- Ingore les durées plus longues que LongDurationIgnore (en secondes) : ici 28800 = 8h-->
    <add key="LongDurationIgnore" value="28800" />
  </appSettings>
</configuration>